/*
 *  Dark Green - 1.0
 *  Author: Finetti Leonardo - FiNeXdesign 2007
 *  Homepage: http://www.finex.org
 *  Email: finex@finex.org
 *  Date: 30/10/20007
 */


/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  background: #343434 url(img/bg.jpg) top left repeat-x;
  font: 90% arial, verdana, helvetica;
}

p {
  margin-bottom: 0.9em;
  line-height: 1.5em;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}


/* TITOLI */

h1, h3, h4, h5, h6 {
  margin: 2px 0px 4px 0px;
}
h2 {
  margin: 0px 0px 4px 0px;
}
h1 {
  font-size: 1.6em;
  color: #499972;
}
h2 {
  font-size: 1.2em;
  color: #499972;
}
h3 {
  font-size: 1.1em;
  color: #499972;
}
h4, h5, h6 {
  font-size: 1.1em;
}

/* LINKS */

a {
  text-decoration: none;
  font-weight: bold; 
}
a:link {
  color: #499972;
}
a:visited {
  color: #499972;
}

#sidebar-left .menu a:visited {
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
  color: #2C5C45;
}



fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
  clear: both;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#header, #content, #footer, #mission {
  width: 910px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  background-image: url(img/header.jpg);
  height: 180px;
}
#content {
  background-image: url(img/content_bg.jpg);
}
#footer {
  height: 30px;
  background-image: url(img/content_bg.jpg);
  color: black;
  border-top:1px solid black;
  text-align: center;
/*   font-weight: bold; */
}
#searchbar {
  height: 30px;
  padding-right: 20px;
  padding-top:30px;
  text-align: right;
}
#edit-search_theme_form_keys{
  background-color:#7BAF7B;
}
#search input{
  background-color:#7BAF7B;
}

#logo {
  height: 50px;
  padding-left: 10px;
}
#logo img {
  float: left;
  border: 0;
}
#menu {
  text-align: right;
  padding-right: 10px;
}
#primary {
  margin-bottom: 2px;
  font-size: 13px;
  color: #ccc;
}
#primary a {
  font-weight: bold; 
  color: #fff;
}
#secondary {
  font-size: 12px;
  color: #ccc;
}
#secondary a {
  color: #fff;
}
#search .form-text, #search .form-submit {
  border: 1px solid #275;
  font-size: 10px;
}
#search .form-text {
  width: 8em;
  padding:1px 2px 1px 2px;
}
#mission {
  background: #3F593E url(img/mission.jpg) no-repeat top left;
/*   padding: 5px; */
  min-height:60px;
  color: #cccccc;
}
#mission a, #mission a:visited {
  color: #FFFFFF;
  font-weight: bold;
}
.site-name {
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}


.site-name a:hover {
  text-decoration: underline;
}
.site-slogan {
  font-size: 12px;
  color: #eee;
  display: block;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;

  padding-right:30px

}
#mission, .node .content, .comment .content {
  line-height: 1.5;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left{
  vertical-align: top;
  width: 200px;
  padding: 10px;
}

.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block {
  font-size: 13px;
  padding: 0;
  background: url(img/block_bg.jpg) repeat-y 10px left;
  margin-bottom:0;
}

div.block{
  padding: 0;
  background: url(img/block_bg.jpg) repeat-y 10px left;
  margin-bottom:0;
}

.block {
  background-image: url(img/block_bg.jpg);
  width:200px;
}

.block .title {
  font-size: 0.9em;
  color: #fff;
  padding: 6px 2px 2px 4px;
  height:30px;
  text-align:center;
  background: url(img/block_title.jpg) no-repeat top left;
}

.block a{
  color:white;
}

.block .content {
   padding-left: 10px;
   padding-right: 10px;
}

.block-bottom{
  background: url(img/block_bottom.jpg) no-repeat top left;
  height:30px;
  width:200px;
  margin-top:0;
  margin-bottom:10px;
  padding-top:0;
}


.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}

.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 0 0 0 1.5em;
}
.node .picture {
  float: right;
}


.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  float: right;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

.thumbnail{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 30px;
}
div.random_images>h2 {
  text-align:center;
}

tbody{
border:0;
}

/*
 * Extra style from drupal default CSS.
 * The default CSS of drupal is removed from the template.php
 */

/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
}
fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}
/* Collapsing fieldsets */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
  height: 1em;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed legend {
  display: block;
}
html.js fieldset.collapsible legend a {
  padding-left: 2em;
  background: url(img/menu-expanded.gif) no-repeat 0% 50%;
}
html.js fieldset.collapsed legend a {
  background: url(img/menu-collapsed.gif) no-repeat 0% 50%;
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
  display: inline;
}
html.js fieldset.collapsible legend a {
  display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto;
}
/* Resizable text areas */
.resizable-textarea {
  width: 95%;
}
.resizable-textarea .grippie {
  height: 9px;
  overflow: hidden;
  background: #eee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
}
html.js .resizable-textarea textarea {
  margin-bottom: 0;
  width: 100%;
  display: block;
}
/* Progressbar styles */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #fff url(../../misc/progress.gif);
  border: 1px solid #00375a;
  height: 1.5em;
  margin-top: 0.2em;
}
.progress .filled {
  background: #0072b9;
  height: 1em;
  border-bottom: 0.5em solid #004a73;
  width: 0%;
}
.progress .percentage {
  float: right;
}